@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #30C8D9 0%, #a591ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header {
    background-color: white;
    padding: 20px;
}

.header h2 {
    text-align: center;
}

.form {
    padding: 20px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid white;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: #69afff;
    border: none;
    color: white;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #91c9ff;
    outline: none;
    transition: 1s ease-in-out;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.form button:hover {
    transition: 0.5s ease-in-out;
    background: #4692e2;
}

#cadastro a {
    text-decoration: none;
    color: #fff;
}
/* Error and Success */
.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}